body {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("../videos/clear.mp4");
  background-size: 105%;
  color: white;
  overflow: hidden;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
/* .content {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} */

#home-page {
  width: 100%;
  height: 100%;

  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  /* width: 100%; */
  padding: 20px;
}

#main-container {
  width: 100%;
  height: 90%;
}

#weather-display > div {
  margin: 0 10px;
}

section, .modal > .flex-container > div {
  height: 30%;
  margin: 5% auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.button-container {
  margin: 0 10px;
}

button {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
}

.modal {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 2;
}

.hidden {
  display: none;
}
